html {
	margin: 0px;
	padding: 0px;
  scroll-behavior: smooth;
}

.headline {
	margin-left: 10px;
	line-height: 70px;
	vertical-align: middle;
	color: var(--main-text-color);
	font-family: 'Fredoka One';
	font-size: 1.8rem;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*margin-top: 70px;*/
	padding-top: 40px;
	background-color: var(--main-bg);
}

.body-regular {
	margin-top: 0px;
}

.top-background {
	width: 100vw;
	max-width: 100%;
	height: calc(100vh);
	background-color: var(--main-red-bg);
	margin-bottom: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	margin: 0px;
	padding: 0px;
}

.top-splitter {
	width: clamp(250px,750px,95vw);
	display: grid;
	grid-template-columns: auto 500px;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.top-triangle {
	color: white;
	font-size: 200px;
	grid-column: 1;
	margin-right: 50px;
	transform: translate(0,-0.04em);
}

.top-text {
	grid-column: 2;
	display: block;
}

.top-headline {
	font-family: 'Merriweather Black';
	letter-spacing: -1px;
	color: white;
	font-weight: bold;
	font-size: 4rem;
	display: block;
	margin-bottom: 20px;
}

.top-description {
	color: white;
	font-family: 'Open Sans';
	font-size: 1rem;
}

.top-info {
	width: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 20px;
	color: white;
	font-size: 2.5em;
}

section {
	width: clamp(250px,600px,95vw);
	margin: auto;
	margin-bottom: 40px;
	color: var(--main-text-color);
}

.section-top {
	margin-top: 60px;
}

.section-top-regular {
	margin-top: 40px;
}

.content-headline {
	color: var(--dark-red);
	font-size: 2.2rem;
	letter-spacing: -1px;
	font-family: 'Merriweather Black';
	display: inline-block;
	margin-bottom: 30px;
	font-weight: bold;
}

.content-headline-regular {
	margin-bottom: 0px;
	margin-top: 30px;
}

.article-headline {
	color: var(--dark-red);
	font-family: 'Merriweather Black';
	font-size: 1.8rem;
	letter-spacing: -1px;
	display: block;
  margin-top: 0px;
	margin-bottom: 15px;
	font-weight: bold;
	line-height: 1.2em;
}

.article-subheadline {
	display: block;
	padding-top: 80px;
  margin-top: -30px;
	font-weight: bold;
	color: var(--dark-red);
	font-family: Merriweather Black;
	font-size: 1.2em;
}

.article-subheadline-top {
	margin-top: -50px;
}

.article-subheadline-text, .article-headline-text, .article-subheadline-anchor, .article-headline-anchor {
  color: inherit;
  text-decoration: none;
}

.article-subheadline-anchor, .article-headline-anchor {
  display: none;
  color: var(--anchor-red);
  opacity: 0.4;
}

.article-subheadline:hover .article-subheadline-anchor, .article-headline:hover .article-headline-anchor {
  display: inline;
}

article {
	padding: 2em;
	width: calc(100%);
	transform: translate(-2em,0);
	font-family: 'Open Sans';
	font-size: 1rem;
	color: var(--main-text-color);
	border-radius: 10px;
	margin-bottom: 0px;
	line-height: 1.5em;
}

.article-red {
	background-color: var(--main-red-bg);
	color: white;
	margin-bottom: 10px;
}

.link {
	color: var(--link-color);
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 1px;
}

.button-pwa {
	display: none;
}

figure {
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid var(--light-grey-border);
	width: 100%;
	border-radius: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

figure img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	vertical-align: middle;
}

figure figcaption {
	font-family: Open Sans;
	font-size: 0.8em;
	background-color: var(--light-grey-bg);
	padding: 10px;
	display: block;
	border-top: 1px solid var(--light-grey-border);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	line-height: initial;
}

details summary {
	margin-top: 10px;
	color: var(--link-color);
	font-family: 'Fredoka One';
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
}

.details {
	display: block;
	background-color: var(--light-grey-bg);
	padding: 1em;
	border-radius: 5px;
	border: 1px solid var(--light-grey-border);
	margin-top: 10px;
}

.teaser {
	font-family: Open Sans;
	background-color: var(--light-grey-bg);
	padding: 2em;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: ease-in-out 0.1s;
	display: grid;
	grid-template-columns: auto auto;
	text-decoration: none;
}

.teaser:hover {
	transform: translate(0.5em,0);
	transition: ease-in-out 0.1s;
}

.teaser-blue {
	background: linear-gradient(110deg, rgba(1,175,196,1) 0%, rgba(3,89,199,1) 100%);;
	color: white;
}

.teaser-red {
	background: linear-gradient(110deg, rgb(232, 1, 1) 0%, rgb(154, 40, 1) 80%);
	color: white;
}

.teaser-green {
	background: linear-gradient(110deg, rgba(19,179,0,1) 0%, rgba(21,111,0,1) 100%);
	color: white;
}

.teaser-left {
	grid-column: 1;
	margin-right: 1em;
}

.teaser-headline {
	font-size: 1.6em;
	font-weight: bold;
	font-family: Merriweather Black;
}

.teaser-description {
	margin: 0px;
	hyphens: auto;
}

.teaser-right {
	grid-column: 2;
}

.teaser-arrow {
	font-size: 40px;
	display: block;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.x-scroll {
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	margin-top: 5px;
}

.x-scroll-inner {
	width: max-content;
	padding: 5px;
	background-color: var(--middle-grey);
	border-radius: 5px;
	border: 1px solid var(--light-grey-border);
}

.important {
	font-weight: bold;
	font-family: 'Fredoka One';
	font-size: 110%;
}

.card-container-outer {
	width: min-content;
	max-width: 95vw;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
}

.card-container {
	width: min-content;
	height: auto;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(3,230px);
	grid-gap: 30px;
}

.card-container-headline {
	color: var(--dark-red);
	font-family: 'Merriweather Black';
	font-size: 1.8rem;
	letter-spacing: -1px;
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
}

.card {
	width: 230px;
	height: auto;
	display: flex;
	flex-flow: column;
	border: 1px solid var(--light-grey-border);
	border-radius: 10px;
	background-color: var(--light-grey-bg);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	transition: ease-in-out 0.2s;
}

.card:hover {
	border-color: var(--dark-grey-border);
	transition: ease-in-out 0.2s;
}

.card:active {
	border-color: var(--dark-blue);
	box-shadow: var(--light-blue) 0px 0px 4px;
}

.card-img {
	width: calc(100% + 20px);
	transform: translate(-10px,0);
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid var(--light-grey-border);
}

.card-headline {
	font-size: 1em;
	font-family: 'Open Sans';
	font-weight: bold;
	color: var(--card-headline);
	text-decoration: none;
	margin-top: 10px;
	cursor: pointer;
  hyphens: auto;
}

.card-flag {
	height: 1.3em;
	width: auto;
	cursor: pointer;
	vertical-align: middle;
	transform: translate(0,-1px);
}

.card-description {
	font-size: 0.8em;
	font-family: 'Open Sans';
	color: var(--main-text-color);
	text-decoration: none;
	cursor: pointer;
}

.card-description a {
	text-decoration: none;
	color: var(--main-text-color);
}

.card-link {
	font-size: 0.9em;
	font-family: 'Open Sans';
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

footer {
	width: 100vw;
	height: 70px;
	background-color: var(--dark-blue);
	max-width: 100%;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.footer-inner {
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.footer-link-outer {
	color: white;
	font-family: 'Open Sans';
	font-size: 1em;
	text-decoration: none;
	padding: 10px;
}

.footer-link {
	font-weight: bold;
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 1px;
	color: white;
}

.footer-link:hover {
	text-decoration: none;
}