@media (orientation: landscape){
	.top-background {
		min-height: 340px;
	}

	@media (max-width: 800px){
		.top-background {
			min-height: 430px;
		}
	}
}

@media (orientation: portrait){
	.top-background {
		min-height: 500px;
	}

	.top-triangle {
		font-size: 100px;
	}
}

@media (max-width: 800px){
	.top-splitter {
		width: 480px;
		grid-template-rows: auto auto;
		grid-template-columns: auto;
	}

	.top-triangle {
		margin-right: 0px;
		grid-row: 1;
		text-align: center;
		font-size: 100px;
	}

	.top-text {
		grid-column: 1;
		grid-row: 2;
		text-align: center;
	}

	.top-headline {
		text-align: center;
	}

	.card-container-outer {
		overflow-x: scroll;
	}
}

@media (max-width: 740px){
	.footer-dot {
		display: none;
	}

	footer {
		height: auto;
	}

	.footer-inner {
		display: grid;
		transform: translate(0,0);
	}

	.footer-link-additional::before{
		content: "\a";
		white-space: pre;
	}
}

@media (max-width: 720px){
	article {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		transform: translate(0,0);
	}

	.article-red {
		padding: 2em;
		width: calc(100% - 4em);
		transform: translate(0,0);
	}
}

@media (max-width: 500px){
	.top-splitter {
		width: 95vw;
	}

	.top-triangle {
		font-size: 100px;
	}

	.teaser-arrow {
		transform: translate(0.5em,-50%);
	}

	.header-left {
		left: 25px;
	}

	.header-right {
		right: 25px;
	}
}

@media (max-width: 320px){
	.header-left {
		display: none;
	}

	.header-centre {
		width: min-content;
		margin-left: 10px;
	}
}

@media (max-width: 270px){
	.header-right {
		display: none;
	}
}