:root {
	--dark-red: rgb(192,0,0);
	--main-red-bg: rgb(192,0,0);
	--dark-blue: #02659f;
	--light-blue: #2ba6ff;
	--light-grey-bg: #f9f9f9;
	--light-grey-border: #bbbb;
	--middle-grey: #e7e7e7;
	--dark-grey-border: #828282ba;
	--main-bg: white;
	--main-text-color: black;
	--link-color: var(--dark-blue);
	--card-headline: var(--main-text-color);
  --anchor-red: var(--dark-red);
}