:root {
  --dark-red: var(--warn-yellow);
  --dark-blue: #02659f;
  --light-blue: #2ba6ff;
  --light-grey-bg: #2a2a2a;
  --light-grey-border: #5d5d5dba;
  --middle-grey: #464646;
  --dark-grey-border: #828282ba;
  --warn-yellow: #f6bd16;
  --main-bg: black;
  --main-text-color: white;
  --link-color: #70caff;
  --anchor-red: var(--warn-yellow);
}

.flag-de {
  display: none;
}

.flag-de-darkmode {
  display: inline-block;
}

.header-dark-button {
  display: none;
}

.header-light-button {
  display: inline-block;
}