{{ $anchorized := anchorize .Inner }}

<h1 class="article-headline {{ if eq (.Get 0) "top" }}article-headline-top{{ end }}" id="{{ $anchorized }}">
  <a class="article-headline-text" href="#{{ $anchorized }}">{{ .Inner }}</a>
  <a class="article-headline-anchor" href="#{{ $anchorized }}"><i class="fa-solid fa-hashtag"></i></a>
</h1>
