{{ if eq .Page.Layout "tutorials" }}
  <a class="content-headline content-headline-regular">{{ .Inner }}</a>
{{ else if eq .Page.Layout "index" }}
  <a class="content-headline">{{ .Inner }}</a>
{{ end }}
