<figure>
	{{ $imgURL := print "img/" (.Get 0) }}
	{{ $imgAlt := .Get 1 }}
	{{ with resources.Get $imgURL }}
		{{ with .Resize "1400x webp" }}
			<a title="{{ i18n "zoomIn" }}" href="{{ .Permalink }}">
				<img src="{{ .Permalink }}" alt="{{ $imgAlt }}">
			</a>
		{{ end }}
	{{ end }}

	<figcaption>
		{{ .Inner }}
	</figcaption>
</figure>
