{{ $anchorized := anchorize .Inner }}

<h2 class="article-subheadline {{ if eq (.Get 0) "top" }}article-subheadline-top{{ end }}" id="{{ $anchorized }}">
  <a class="article-subheadline-text" href="#{{ $anchorized }}">{{ .Inner }}</a>
  <a class="article-subheadline-anchor" href="#{{ $anchorized }}"><i class="fa-solid fa-hashtag"></i></a>
</h2>