{{ $name := .cardName }}

{{ $json := getJSON "data/cards.json" }}
{{ $card := (where $json "id" $name) }}

{{ range $card }}

  <a class="card" href="{{ .url }}">
    {{ $imgAlt := .imgalt }}
    {{ $imgSRC := print "img/cards/" .imgsrc }}
    {{ with resources.Get $imgSRC }}
      {{ with .Resize "500x webp" }}
        <img class="card-img" src="{{ .Permalink }}" alt="{{ $imgAlt }}">
      {{ end }}
    {{ end }}

    <span class="card-headline">
      {{ if eq .lang "de" }}
        <img alt="{{ i18n "german" }}" class="card-flag flag-de" src="{{ site.BaseURL }}/emojis/de.svg" title="{{ i18n "inGerman" }}">
        <img alt="{{ i18n "german" }}" class="card-flag flag-de-darkmode" src="{{ site.BaseURL }}/emojis/de-darkmode.svg" title="{{ i18n "inGerman" }}">
        {{ .title }}
      {{ else if eq .lang "en"}}
        <img alt="{{ i18n "english" }}" class="card-flag" src="{{ site.BaseURL }}/emojis/uk.svg" title="{{ i18n "inEnglish" }}">
        {{ .title }}
      {{ end }}
    </span>
    <p class="card-description">
      {{ .description }}
    </p>
    <span class="card-link">
      {{ .domain }}
    </span>
  </a>

{{ end }}
