{{ $title := .Title }}
{{ $descripton := .Site.Params.Description }}
{{ $isTutorial := false }}

{{ if .Page.Description }}
  {{ $descripton = .Page.Description }}
{{ end }}

{{ if eq .Layout "tutorials" }}
  {{ $isTutorial = true }}
{{ end }}

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="author" content="{{ site.Params.Author }}"/>
		<meta name="copyright" content="{{ site.Copyright }}">
		<meta name="description" content="{{ .Params.Description }}"/>
		<meta name="language" content="{{ site.Language.Lang }}">
		<meta name="theme-color" content="#02659f">

		<meta property="og:site_name" content="{{ site.Title }}" />
	  <meta property="og:type" content="website" />
	  <meta property="og:title" content="{{ $title }}" />
	  <meta property="og:description" content="{{ $descripton }}" />
	  <meta property="og:url" content="{{ .Permalink }}" />

	  <meta property="twitter:title" content="{{ $title }}" />
	  <meta property="twitter:description" content="{{ $descripton }}" />

		{{ $imageURL := "" }}
	  {{ $width := 1920 }}
	  {{ $height := 1080 }}

		{{ with resources.Get "img/logo/phishwarn-logo.png" }}
      {{ with .Resize "400x png" }}
        {{ $width = .Width }}
        {{ $height = .Height }}
        {{ $imageURL = .Permalink }}
				<meta property="og:image" content="{{ $imageURL }}" />
			  <meta property="og:image:secure_url" content="{{ $imageURL }}" />
			  <meta property="twitter:image" content="{{ $imageURL }}" />
			  <meta name="thumbnail" content="{{ $imageURL }}">
			  <meta property="og:image:width" content="{{ $width }}" />
			  <meta property="og:image:height" content="{{ $height }}" />
        <meta name="twitter:card" content="summary" />
      {{ end }}
    {{ end }}

		{{ if eq $isTutorial true }}
	    <meta property="og:type" content="article" />
	    <meta property="article:section" content="Tutorial" />
	  {{ end }}

		<title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }}
      {{ end }}
		</title>

		{{ with resources.Get "img/logo/phishwarn-icon.png" }}
	    {{ with .Resize "64x webp" }}
	      <link href="{{ .Permalink }}" rel="icon" type="image/webp">
	    {{ end }}
	  {{ end }}

		<link href="{{ site.BaseURL }}/manifest.json" rel="manifest">

		{{ $fontawesome := resources.Get "css/all.css"}}
	  {{ $bi := resources.Get "css/bi.css"}}
		{{ $twemojis := resources.Get "css/twemojis.css" }}
		{{ $fontsCSS := resources.Get "css/fonts.css" }}
		{{ $rootCSS := resources.Get "css/root.css" }}
		{{ $headerCSS := resources.Get "css/header.css" }}
		{{ $phishwarnCSS := resources.Get "css/phishwarn.css" }}
		{{ $darkmodeCSS := resources.Get "css/darkmode.css" }}
		{{ $responsiveCSS := resources.Get "css/responsive.css" }}

		{{ $style := slice $fontawesome $bi $twemojis $fontsCSS $rootCSS $headerCSS $phishwarnCSS $darkmodeCSS $responsiveCSS | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint "sha512" }}
		<link href="{{ $style.Permalink }}" type="text/css" rel="stylesheet">

		{{ $jquery := resources.Get "js/jquery-3.6.0.min.js" }}
	  {{ $phishwarnJS := resources.Get "js/phishwarn.js" }}
	  {{ $js := slice $jquery $phishwarnJS | resources.Concat "js/script.js" | resources.Minify | resources.Fingerprint "sha512" }}
	  <script src="{{ $js.Permalink }}" defer></script>
	</head>
