		<div class="header header-regular">
			<div class="header-centre">
				<div class="header-left">
					<a class="header-theme-button header-dark-button">
						<i class="fa-solid fa-moon"></i>
					</a>
					<a class="header-theme-button header-light-button">
						<i class="bi bi-sun-fill"></i>
					</a>
				</div>

				<a class="header-centre-inner" href="{{ site.BaseURL }}/{{ site.Language.Lang }}">
					{{ with resources.Get "img/logo/phishwarn-logo.png" }}
						{{ with .Resize "100x webp" }}
							<img class="logo" src="{{ .Permalink }}" alt="Logo">
						{{ end }}
					{{ end }}
					<span class="headline">PhishWarn</span>
				</a>

				<div class="header-right">
					{{ if eq site.Language.Lang "en" }}
						{{ $p := slice }}
						{{ range where .AllTranslations "Language.Lang" "de" }}
						  {{ $p = . }}
						{{ end }}
					<a href="{{ $p.RelPermalink }}" title="German translation">
						<img class="header-flag flag-de" src="{{ site.BaseURL}}/emojis/de.svg" alt="German">
						<img class="header-flag flag-de-darkmode" src="{{ site.BaseURL}}/emojis/de-darkmode.svg" alt="German">
					</a>
					{{ else }}
						{{ $p := slice }}
						{{ range where .AllTranslations "Language.Lang" "en" }}
						  {{ $p = . }}
						{{ end }}
					<a href="{{ $p.RelPermalink }}" title="Englisches Original">
						<img class="header-flag" src="{{ site.BaseURL}}/emojis/uk.svg" alt="Englisch">
					</a>
					{{ end }}
				</div>
			</div>
		</div>
